*, *:before, *:after {
  box-sizing: border-box;
}


body{
  margin: 5px;
  font-family: 'Exo 2', sans-serif;
}

.item {
  border: 1px solid black;
  padding: 3px;
  margin: 3px;
}

.creator input {
}

.container {
  display: flex;
}

.list {
  flex: 1;
}